#hydrohomies {
  font-family: "Lobster Two", cursive;
  font-size: 34px;
  color: #c83f49;
}

#sign-in {
  margin: auto;
  width: 95%;
  padding: 20px;
}

#login-error-msg {
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

#welcome {
  font-family: "Lobster Two", cursive;
  font-size: 40px;
  color: white;
  margin: auto;
  text-align: center;
}

#welcome-home {
  font-family: "Lobster Two", cursive;
  font-size: 40px;
  color: black;
  margin: auto;
  text-align: center;
}

#choices {
  text-align: center;
}

body {
  background-image: url(../assets/strawberrySplash.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

#review-row {
  width: 95%;
  padding: 20px;
}

#filter-form {
  background-color: white;
  margin: auto;
  width: 95%;
  padding: 20px;
}

footer {
  width: 100%;
  color: white;
  text-align: center;
  background-color: #008080;
  opacity: 0.8;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
}

#featured {
  margin: auto;
  width: 95%;
}

#posts {
  margin: auto;
  width: 95%;
}

#new-review {
  margin: auto;
  width: 95%;
  padding: 20px;
}

#action-btn {
  margin: auto;
  display: flex;
}

#submitBTN {
  height: auto;
  width: 200px;
  margin: auto;
}

.dropdown-labels {
  padding-left: 30px;
}

.error {
  color: red;
}

.deleteBTN:hover {
  background-color: red;
}

.amazonBTN:hover {
  background-color: green;
}

::-webkit-scrollbar {
  display: none;
}

/* ::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
} */

.newBrandRow,
.newFlavorRow {
  display: inline-flex;
}
.addNewFlavor,
.addNewBrand {
  margin-left: 16px;
  color: white;
  margin-right: 16px;
  display: inline-block;
}

.contactForm {
  width: 95%;
  margin: auto;
  padding: 20px;
}

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: 0.8;
}

#overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.spinner {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid firebrick;
  border-right-color: transparent;
  border-radius: 50%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-title {
  font-style: italic;
}
#add-brand-error, #add-flavor-error, #deleteFlavorSuccess, #deleteBrandSuccess {
  color: red;
  text-align: center;
}
